<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hi Jatin</title>
</head>
<body>
<h3>Hi Jatin</h3>
<h5>Please look into all the pending requests</h5>
<h5>Your friends are waiting</h5>

<div id = "buttons" style = "display : flex; gap : 10px;">
    <form id = "completed-requests" action = "completed-requests">
        <input type = "submit" value = "Completed Requests">
    </form>

    <form id = "pending-requests" action = "pending-requests">
        <input type = "submit" value="Pending Requests">
    </form>

    <form action = "logout">
        <input type  =  "submit" value = "Logout">
    </form>
</div>

</body>
</html>